---
- name: Install base packages
  hosts: "{{ custom_host }}"
  become: yes
  tasks:
    - name: Update repo cache
      apt:
        update_cache: yes
        cache_valid_time: 43200
      diff: true

    - name: Install packages
      ansible.builtin.apt:
        pkg:
          - ufw
          - vnstat
          - htop
          - sudo 
